



body {
    padding-left: 11em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: black;
  
  background-color: #F39C12}


TR{
  background-color: blue;
  color: white;
  opacity: 0.5;
}
